kartverket-wsclient/src/main/resources/IdentServiceWS.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	Oracle JAX-WS 2.1.5. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://kartverket.no/grunnbok/wsapi/v1/service/ident"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://kartverket.no/grunnbok/wsapi/v1/service/ident"
	name="IdentServiceWS">
	<types>
		<xsd:schema>
			<xsd:import
				namespace="http://kartverket.no/grunnbok/wsapi/v1/service/servicetyper"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=1" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/service/ident"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=12" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/exception"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=15" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/saksbehandlingsdata"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=16" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/rettsendring"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=17" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/registerenhetsendring"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=18" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/personkoblingsendring"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=19" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/overdragelse"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=20" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/heftelse"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=21" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/anmerkning"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=2" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=3" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/registerenhet"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=4" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/person"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=5" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/koder"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=6" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/journal"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=7" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/dokument"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=8" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/adresse"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=9" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=10" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/kodeliste"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=11" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/endringslogg"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=13" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper"
				schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS?xsd=14" />
		</xsd:schema>
	</types>
	<message name="findRegisterenhetsrettIdsForIdents">
		<part name="parameters" element="tns:findRegisterenhetsrettIdsForIdents" />
	</message>
	<message name="findRegisterenhetsrettIdsForIdentsResponse">
		<part name="parameters" element="tns:findRegisterenhetsrettIdsForIdentsResponse" />
	</message>
	<message name="ServiceException">
		<part xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v1/exception"
			name="fault" element="ns1:ServiceException" />
	</message>
	<message name="findBorettslagsandelIdsForIdents">
		<part name="parameters" element="tns:findBorettslagsandelIdsForIdents" />
	</message>
	<message name="findBorettslagsandelIdsForIdentsResponse">
		<part name="parameters" element="tns:findBorettslagsandelIdsForIdentsResponse" />
	</message>
	<message name="findMatrikkelenhetIdsForIdents">
		<part name="parameters" element="tns:findMatrikkelenhetIdsForIdents" />
	</message>
	<message name="findMatrikkelenhetIdsForIdentsResponse">
		<part name="parameters" element="tns:findMatrikkelenhetIdsForIdentsResponse" />
	</message>
	<message name="findRettsstiftelseIdsForIdents">
		<part name="parameters" element="tns:findRettsstiftelseIdsForIdents" />
	</message>
	<message name="findRettsstiftelseIdsForIdentsResponse">
		<part name="parameters" element="tns:findRettsstiftelseIdsForIdentsResponse" />
	</message>
	<message name="findBorettslagIdsForIdents">
		<part name="parameters" element="tns:findBorettslagIdsForIdents" />
	</message>
	<message name="findBorettslagIdsForIdentsResponse">
		<part name="parameters" element="tns:findBorettslagIdsForIdentsResponse" />
	</message>
	<message name="findKommuneIdsForIdents">
		<part name="parameters" element="tns:findKommuneIdsForIdents" />
	</message>
	<message name="findKommuneIdsForIdentsResponse">
		<part name="parameters" element="tns:findKommuneIdsForIdentsResponse" />
	</message>
	<message name="ValidationException">
		<part name="fault" element="tns:ValidationException" />
	</message>
	<message name="findDokumentIdsForIdents">
		<part name="parameters" element="tns:findDokumentIdsForIdents" />
	</message>
	<message name="findDokumentIdsForIdentsResponse">
		<part name="parameters" element="tns:findDokumentIdsForIdentsResponse" />
	</message>
	<message name="findPersonIdsForIdents">
		<part name="parameters" element="tns:findPersonIdsForIdents" />
	</message>
	<message name="findPersonIdsForIdentsResponse">
		<part name="parameters" element="tns:findPersonIdsForIdentsResponse" />
	</message>
	<message name="findRegisterenhetIdsForIdents">
		<part name="parameters" element="tns:findRegisterenhetIdsForIdents" />
	</message>
	<message name="findRegisterenhetIdsForIdentsResponse">
		<part name="parameters" element="tns:findRegisterenhetIdsForIdentsResponse" />
	</message>
	<message name="findIdentsForIds">
		<part name="parameters" element="tns:findIdentsForIds" />
	</message>
	<message name="findIdentsForIdsResponse">
		<part name="parameters" element="tns:findIdentsForIdsResponse" />
	</message>
	<portType name="IdentService">
		<operation name="findRegisterenhetsrettIdsForIdents">
			<input message="tns:findRegisterenhetsrettIdsForIdents" />
			<output message="tns:findRegisterenhetsrettIdsForIdentsResponse" />
			<fault message="tns:ServiceException" name="ServiceException" />
		</operation>
		<operation name="findBorettslagsandelIdsForIdents">
			<input message="tns:findBorettslagsandelIdsForIdents" />
			<output message="tns:findBorettslagsandelIdsForIdentsResponse" />
			<fault message="tns:ServiceException" name="ServiceException" />
		</operation>
		<operation name="findMatrikkelenhetIdsForIdents">
			<input message="tns:findMatrikkelenhetIdsForIdents" />
			<output message="tns:findMatrikkelenhetIdsForIdentsResponse" />
			<fault message="tns:ServiceException" name="ServiceException" />
		</operation>
		<operation name="findRettsstiftelseIdsForIdents">
			<input message="tns:findRettsstiftelseIdsForIdents" />
			<output message="tns:findRettsstiftelseIdsForIdentsResponse" />
			<fault message="tns:ServiceException" name="ServiceException" />
		</operation>
		<operation name="findBorettslagIdsForIdents">
			<input message="tns:findBorettslagIdsForIdents" />
			<output message="tns:findBorettslagIdsForIdentsResponse" />
			<fault message="tns:ServiceException" name="ServiceException" />
		</operation>
		<operation name="findKommuneIdsForIdents">
			<input message="tns:findKommuneIdsForIdents" />
			<output message="tns:findKommuneIdsForIdentsResponse" />
			<fault message="tns:ServiceException" name="ServiceException" />
			<fault message="tns:ValidationException" name="ValidationException" />
		</operation>
		<operation name="findDokumentIdsForIdents">
			<input message="tns:findDokumentIdsForIdents" />
			<output message="tns:findDokumentIdsForIdentsResponse" />
			<fault message="tns:ServiceException" name="ServiceException" />
		</operation>
		<operation name="findPersonIdsForIdents">
			<input message="tns:findPersonIdsForIdents" />
			<output message="tns:findPersonIdsForIdentsResponse" />
			<fault message="tns:ServiceException" name="ServiceException" />
		</operation>
		<operation name="findRegisterenhetIdsForIdents">
			<input message="tns:findRegisterenhetIdsForIdents" />
			<output message="tns:findRegisterenhetIdsForIdentsResponse" />
			<fault message="tns:ServiceException" name="ServiceException" />
		</operation>
		<operation name="findIdentsForIds">
			<input message="tns:findIdentsForIds" />
			<output message="tns:findIdentsForIdsResponse" />
			<fault message="tns:ServiceException" name="ServiceException" />
		</operation>
	</portType>
	<binding name="IdentServicePortBinding" type="tns:IdentService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="findRegisterenhetsrettIdsForIdents">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findBorettslagsandelIdsForIdents">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findMatrikkelenhetIdsForIdents">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findRettsstiftelseIdsForIdents">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findBorettslagIdsForIdents">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findKommuneIdsForIdents">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
			<fault name="ValidationException">
				<soap:fault name="ValidationException" use="literal" />
			</fault>
		</operation>
		<operation name="findDokumentIdsForIdents">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findPersonIdsForIdents">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findRegisterenhetIdsForIdents">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
		<operation name="findIdentsForIds">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="IdentServiceWS">
		<port name="IdentServicePort" binding="tns:IdentServicePortBinding">
			<soap:address
				location="https://test.grunnbok.no:443/grunnbok/wsapi/v1/IdentServiceWS" />
		</port>
	</service>
</definitions>