kartverket-wsclient/src/main/resources/KodelisteServiceWS.wsdl

<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. 
-->
<!--
 Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. 
-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v1/service/kodeliste" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://kartverket.no/grunnbok/wsapi/v1/service/kodeliste" name="KodelisteServiceWS">
<types>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/service/kodeliste" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/exception" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=12"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/saksbehandlingsdata" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=14"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/rettsendring" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=15"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=16"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=17"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/overdragelse" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=18"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/heftelse" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=19"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/anmerkning" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=20"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/registerenhet" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/person" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=4"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/koder" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=5"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/journal" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=6"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/dokument" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=7"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/adresse" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=8"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=9"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/kodeliste" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=10"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/endringslogg" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=11"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS?xsd=13"/>
</xsd:schema>
</types>
<message name="getKodelister">
<part name="parameters" element="tns:getKodelister"/>
</message>
<message name="getKodelisterResponse">
<part name="parameters" element="tns:getKodelisterResponse"/>
</message>
<message name="ServiceException">
<part xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v1/exception" name="fault" element="ns1:ServiceException"/>
</message>
<message name="getKodeliste">
<part name="parameters" element="tns:getKodeliste"/>
</message>
<message name="getKodelisteResponse">
<part name="parameters" element="tns:getKodelisteResponse"/>
</message>
<portType name="KodelisteService">
<operation name="getKodelister">
<input message="tns:getKodelister"/>
<output message="tns:getKodelisterResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="getKodeliste">
<input message="tns:getKodeliste"/>
<output message="tns:getKodelisteResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
</portType>
<binding name="KodelisteServicePortBinding" type="tns:KodelisteService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getKodelister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="getKodeliste">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="KodelisteServiceWS">
<port name="KodelisteServicePort" binding="tns:KodelisteServicePortBinding">
<soap:address location="https://test.grunnbok.no:443/grunnbok/wsapi/v1/KodelisteServiceWS"/>
</port>
</service>
</definitions>