kartverket-wsclient/src/main/resources/RegisterenhetsrettsandelServiceWS.wsdl

<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. 
-->
<!--
 Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. 
-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v1/service/registerenhetsrettsandel" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://kartverket.no/grunnbok/wsapi/v1/service/registerenhetsrettsandel" name="RegisterenhetsrettsandelServiceWS">
<types>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/service/servicetyper" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/service/registerenhetsrettsandel" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=12"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/exception" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=15"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/saksbehandlingsdata" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=16"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/rettsendring" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=17"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=18"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=19"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/overdragelse" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=20"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/heftelse" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=21"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/anmerkning" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/registerenhet" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=4"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/person" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=5"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/koder" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=6"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/journal" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=7"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/dokument" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=8"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/adresse" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=9"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=10"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/kodeliste" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=11"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/endringslogg" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=13"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS?xsd=14"/>
</xsd:schema>
</types>
<message name="findAndelerForRettighetshaverePerson">
<part name="parameters" element="tns:findAndelerForRettighetshaverePerson"/>
</message>
<message name="findAndelerForRettighetshaverePersonResponse">
<part name="parameters" element="tns:findAndelerForRettighetshaverePersonResponse"/>
</message>
<message name="ServiceException">
<part xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v1/exception" name="fault" element="ns1:ServiceException"/>
</message>
<message name="findAndelerForRettighetshavereRegisterenhet">
<part name="parameters" element="tns:findAndelerForRettighetshavereRegisterenhet"/>
</message>
<message name="findAndelerForRettighetshavereRegisterenhetResponse">
<part name="parameters" element="tns:findAndelerForRettighetshavereRegisterenhetResponse"/>
</message>
<message name="findAndelerIRetter">
<part name="parameters" element="tns:findAndelerIRetter"/>
</message>
<message name="findAndelerIRetterResponse">
<part name="parameters" element="tns:findAndelerIRetterResponse"/>
</message>
<portType name="RegisterenhetsrettsandelService">
<operation name="findAndelerForRettighetshaverePerson">
<input message="tns:findAndelerForRettighetshaverePerson"/>
<output message="tns:findAndelerForRettighetshaverePersonResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findAndelerForRettighetshavereRegisterenhet">
<input message="tns:findAndelerForRettighetshavereRegisterenhet"/>
<output message="tns:findAndelerForRettighetshavereRegisterenhetResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findAndelerIRetter">
<input message="tns:findAndelerIRetter"/>
<output message="tns:findAndelerIRetterResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
</portType>
<binding name="RegisterenhetsrettsandelServicePortBinding" type="tns:RegisterenhetsrettsandelService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAndelerForRettighetshaverePerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findAndelerForRettighetshavereRegisterenhet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findAndelerIRetter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="RegisterenhetsrettsandelServiceWS">
<port name="RegisterenhetsrettsandelServicePort" binding="tns:RegisterenhetsrettsandelServicePortBinding">
<soap:address location="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RegisterenhetsrettsandelServiceWS"/>
</port>
</service>
</definitions>