kartverket-wsclient/src/main/resources/RettsstiftelseServiceWS.wsdl

<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. 
-->
<!--
 Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. 
-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v1/service/rettsstiftelse" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://kartverket.no/grunnbok/wsapi/v1/service/rettsstiftelse" name="RettsstiftelseServiceWS">
<types>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/service/servicetyper" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/service/rettsstiftelse" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=12"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/exception" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=15"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/saksbehandlingsdata" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=16"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/rettsendring" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=17"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=18"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=19"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/overdragelse" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=20"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/heftelse" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=21"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/anmerkning" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/registerenhet" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=4"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/person" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=5"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/koder" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=6"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/journal" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=7"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/dokument" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=8"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/adresse" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=9"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=10"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/kodeliste" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=11"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/endringslogg" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=13"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS?xsd=14"/>
</xsd:schema>
</types>
<message name="findRettsstiftelsestypeKoderForRettstypeKoder">
<part name="parameters" element="tns:findRettsstiftelsestypeKoderForRettstypeKoder"/>
</message>
<message name="findRettsstiftelsestypeKoderForRettstypeKoderResponse">
<part name="parameters" element="tns:findRettsstiftelsestypeKoderForRettstypeKoderResponse"/>
</message>
<message name="ServiceException">
<part xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v1/exception" name="fault" element="ns1:ServiceException"/>
</message>
<message name="findOverdragelserAvRegisterenhetsrett">
<part name="parameters" element="tns:findOverdragelserAvRegisterenhetsrett"/>
</message>
<message name="findOverdragelserAvRegisterenhetsrettResponse">
<part name="parameters" element="tns:findOverdragelserAvRegisterenhetsrettResponse"/>
</message>
<message name="findRettsstiftelserMedNyeAndeler">
<part name="parameters" element="tns:findRettsstiftelserMedNyeAndeler"/>
</message>
<message name="findRettsstiftelserMedNyeAndelerResponse">
<part name="parameters" element="tns:findRettsstiftelserMedNyeAndelerResponse"/>
</message>
<message name="findRettsstiftelserMedUtgaatteAndeler">
<part name="parameters" element="tns:findRettsstiftelserMedUtgaatteAndeler"/>
</message>
<message name="findRettsstiftelserMedUtgaatteAndelerResponse">
<part name="parameters" element="tns:findRettsstiftelserMedUtgaatteAndelerResponse"/>
</message>
<message name="findHeftelserIRegisterenhetsretter">
<part name="parameters" element="tns:findHeftelserIRegisterenhetsretter"/>
</message>
<message name="findHeftelserIRegisterenhetsretterResponse">
<part name="parameters" element="tns:findHeftelserIRegisterenhetsretterResponse"/>
</message>
<message name="findTidligereHeftelserIRegisterenhetsretter">
<part name="parameters" element="tns:findTidligereHeftelserIRegisterenhetsretter"/>
</message>
<message name="findTidligereHeftelserIRegisterenhetsretterResponse">
<part name="parameters" element="tns:findTidligereHeftelserIRegisterenhetsretterResponse"/>
</message>
<message name="findHeftelserIRegisterenhetsrettsandeler">
<part name="parameters" element="tns:findHeftelserIRegisterenhetsrettsandeler"/>
</message>
<message name="findHeftelserIRegisterenhetsrettsandelerResponse">
<part name="parameters" element="tns:findHeftelserIRegisterenhetsrettsandelerResponse"/>
</message>
<message name="findMatrikkelenhetsendringerFra">
<part name="parameters" element="tns:findMatrikkelenhetsendringerFra"/>
</message>
<message name="findMatrikkelenhetsendringerFraResponse">
<part name="parameters" element="tns:findMatrikkelenhetsendringerFraResponse"/>
</message>
<message name="findMatrikkelenhetsendringerTil">
<part name="parameters" element="tns:findMatrikkelenhetsendringerTil"/>
</message>
<message name="findMatrikkelenhetsendringerTilResponse">
<part name="parameters" element="tns:findMatrikkelenhetsendringerTilResponse"/>
</message>
<message name="findMatrikkelenhetsendringerAlleRoller">
<part name="parameters" element="tns:findMatrikkelenhetsendringerAlleRoller"/>
</message>
<message name="findMatrikkelenhetsendringerAlleRollerResponse">
<part name="parameters" element="tns:findMatrikkelenhetsendringerAlleRollerResponse"/>
</message>
<message name="findBorettslagsandelsendringerFra">
<part name="parameters" element="tns:findBorettslagsandelsendringerFra"/>
</message>
<message name="findBorettslagsandelsendringerFraResponse">
<part name="parameters" element="tns:findBorettslagsandelsendringerFraResponse"/>
</message>
<message name="findBorettslagsandelsendringerTil">
<part name="parameters" element="tns:findBorettslagsandelsendringerTil"/>
</message>
<message name="findBorettslagsandelsendringerTilResponse">
<part name="parameters" element="tns:findBorettslagsandelsendringerTilResponse"/>
</message>
<message name="findBorettslagsandelsendringerAlleRoller">
<part name="parameters" element="tns:findBorettslagsandelsendringerAlleRoller"/>
</message>
<message name="findBorettslagsandelsendringerAlleRollerResponse">
<part name="parameters" element="tns:findBorettslagsandelsendringerAlleRollerResponse"/>
</message>
<message name="findSeksjonssameieendringerForUtgaatte">
<part name="parameters" element="tns:findSeksjonssameieendringerForUtgaatte"/>
</message>
<message name="findSeksjonssameieendringerForUtgaatteResponse">
<part name="parameters" element="tns:findSeksjonssameieendringerForUtgaatteResponse"/>
</message>
<message name="findSeksjonssameieendringerForNye">
<part name="parameters" element="tns:findSeksjonssameieendringerForNye"/>
</message>
<message name="findSeksjonssameieendringerForNyeResponse">
<part name="parameters" element="tns:findSeksjonssameieendringerForNyeResponse"/>
</message>
<message name="findSeksjonssameieendringerAlleRoller">
<part name="parameters" element="tns:findSeksjonssameieendringerAlleRoller"/>
</message>
<message name="findSeksjonssameieendringerAlleRollerResponse">
<part name="parameters" element="tns:findSeksjonssameieendringerAlleRollerResponse"/>
</message>
<message name="findTidligereLeieavtalerOgRettigheter">
<part name="parameters" element="tns:findTidligereLeieavtalerOgRettigheter"/>
</message>
<message name="findTidligereLeieavtalerOgRettigheterResponse">
<part name="parameters" element="tns:findTidligereLeieavtalerOgRettigheterResponse"/>
</message>
<message name="findRaaderettsbegrensningerForRegisterenhet">
<part name="parameters" element="tns:findRaaderettsbegrensningerForRegisterenhet"/>
</message>
<message name="findRaaderettsbegrensningerForRegisterenhetResponse">
<part name="parameters" element="tns:findRaaderettsbegrensningerForRegisterenhetResponse"/>
</message>
<message name="findRettsstiftelserForDokument">
<part name="parameters" element="tns:findRettsstiftelserForDokument"/>
</message>
<message name="findRettsstiftelserForDokumentResponse">
<part name="parameters" element="tns:findRettsstiftelserForDokumentResponse"/>
</message>
<message name="findRettigheterForRegisterenhet">
<part name="parameters" element="tns:findRettigheterForRegisterenhet"/>
</message>
<message name="findRettigheterForRegisterenhetResponse">
<part name="parameters" element="tns:findRettigheterForRegisterenhetResponse"/>
</message>
<message name="findAnmerkninger">
<part name="parameters" element="tns:findAnmerkninger"/>
</message>
<message name="findAnmerkningerResponse">
<part name="parameters" element="tns:findAnmerkningerResponse"/>
</message>
<message name="findRettsendringer">
<part name="parameters" element="tns:findRettsendringer"/>
</message>
<message name="findRettsendringerResponse">
<part name="parameters" element="tns:findRettsendringerResponse"/>
</message>
<message name="findHeftelserIAnnenRett">
<part name="parameters" element="tns:findHeftelserIAnnenRett"/>
</message>
<message name="findHeftelserIAnnenRettResponse">
<part name="parameters" element="tns:findHeftelserIAnnenRettResponse"/>
</message>
<message name="findPengeheftelser">
<part name="parameters" element="tns:findPengeheftelser"/>
</message>
<message name="findPengeheftelserResponse">
<part name="parameters" element="tns:findPengeheftelserResponse"/>
</message>
<message name="findTidligerePengeheftelser">
<part name="parameters" element="tns:findTidligerePengeheftelser"/>
</message>
<message name="findTidligerePengeheftelserResponse">
<part name="parameters" element="tns:findTidligerePengeheftelserResponse"/>
</message>
<message name="findLeieavtalerOgRettigheter">
<part name="parameters" element="tns:findLeieavtalerOgRettigheter"/>
</message>
<message name="findLeieavtalerOgRettigheterResponse">
<part name="parameters" element="tns:findLeieavtalerOgRettigheterResponse"/>
</message>
<message name="findServitutter">
<part name="parameters" element="tns:findServitutter"/>
</message>
<message name="findServitutterResponse">
<part name="parameters" element="tns:findServitutterResponse"/>
</message>
<message name="findTidligereServitutter">
<part name="parameters" element="tns:findTidligereServitutter"/>
</message>
<message name="findTidligereServitutterResponse">
<part name="parameters" element="tns:findTidligereServitutterResponse"/>
</message>
<message name="findRegisterenhetsendringer">
<part name="parameters" element="tns:findRegisterenhetsendringer"/>
</message>
<message name="findRegisterenhetsendringerResponse">
<part name="parameters" element="tns:findRegisterenhetsendringerResponse"/>
</message>
<message name="findFestekontrakter">
<part name="parameters" element="tns:findFestekontrakter"/>
</message>
<message name="findFestekontrakterResponse">
<part name="parameters" element="tns:findFestekontrakterResponse"/>
</message>
<message name="findTidligereFestekontrakter">
<part name="parameters" element="tns:findTidligereFestekontrakter"/>
</message>
<message name="findTidligereFestekontrakterResponse">
<part name="parameters" element="tns:findTidligereFestekontrakterResponse"/>
</message>
<message name="findRettigheterForPerson">
<part name="parameters" element="tns:findRettigheterForPerson"/>
</message>
<message name="findRettigheterForPersonResponse">
<part name="parameters" element="tns:findRettigheterForPersonResponse"/>
</message>
<message name="findHeftelser">
<part name="parameters" element="tns:findHeftelser"/>
</message>
<message name="findHeftelserResponse">
<part name="parameters" element="tns:findHeftelserResponse"/>
</message>
<message name="findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhet">
<part name="parameters" element="tns:findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhet"/>
</message>
<message name="findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhetResponse">
<part name="parameters" element="tns:findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhetResponse"/>
</message>
<message name="findTidligereHeftelserIRegisterenhetsrettsandeler">
<part name="parameters" element="tns:findTidligereHeftelserIRegisterenhetsrettsandeler"/>
</message>
<message name="findTidligereHeftelserIRegisterenhetsrettsandelerResponse">
<part name="parameters" element="tns:findTidligereHeftelserIRegisterenhetsrettsandelerResponse"/>
</message>
<message name="findOverdragelserMedAktiveAndelerIRegisterenhet">
<part name="parameters" element="tns:findOverdragelserMedAktiveAndelerIRegisterenhet"/>
</message>
<message name="findOverdragelserMedAktiveAndelerIRegisterenhetResponse">
<part name="parameters" element="tns:findOverdragelserMedAktiveAndelerIRegisterenhetResponse"/>
</message>
<message name="findTidligereOverdragelserAvRegisterenhetsrett">
<part name="parameters" element="tns:findTidligereOverdragelserAvRegisterenhetsrett"/>
</message>
<message name="findTidligereOverdragelserAvRegisterenhetsrettResponse">
<part name="parameters" element="tns:findTidligereOverdragelserAvRegisterenhetsrettResponse"/>
</message>
<message name="findOverdragelserAvRegisterenhetsrettForPerson">
<part name="parameters" element="tns:findOverdragelserAvRegisterenhetsrettForPerson"/>
</message>
<message name="findOverdragelserAvRegisterenhetsrettForPersonResponse">
<part name="parameters" element="tns:findOverdragelserAvRegisterenhetsrettForPersonResponse"/>
</message>
<portType name="RettsstiftelseService">
<operation name="findRettsstiftelsestypeKoderForRettstypeKoder">
<input message="tns:findRettsstiftelsestypeKoderForRettstypeKoder"/>
<output message="tns:findRettsstiftelsestypeKoderForRettstypeKoderResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findOverdragelserAvRegisterenhetsrett">
<input message="tns:findOverdragelserAvRegisterenhetsrett"/>
<output message="tns:findOverdragelserAvRegisterenhetsrettResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findRettsstiftelserMedNyeAndeler">
<input message="tns:findRettsstiftelserMedNyeAndeler"/>
<output message="tns:findRettsstiftelserMedNyeAndelerResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findRettsstiftelserMedUtgaatteAndeler">
<input message="tns:findRettsstiftelserMedUtgaatteAndeler"/>
<output message="tns:findRettsstiftelserMedUtgaatteAndelerResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findHeftelserIRegisterenhetsretter">
<input message="tns:findHeftelserIRegisterenhetsretter"/>
<output message="tns:findHeftelserIRegisterenhetsretterResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findTidligereHeftelserIRegisterenhetsretter">
<input message="tns:findTidligereHeftelserIRegisterenhetsretter"/>
<output message="tns:findTidligereHeftelserIRegisterenhetsretterResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findHeftelserIRegisterenhetsrettsandeler">
<input message="tns:findHeftelserIRegisterenhetsrettsandeler"/>
<output message="tns:findHeftelserIRegisterenhetsrettsandelerResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findMatrikkelenhetsendringerFra">
<input message="tns:findMatrikkelenhetsendringerFra"/>
<output message="tns:findMatrikkelenhetsendringerFraResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findMatrikkelenhetsendringerTil">
<input message="tns:findMatrikkelenhetsendringerTil"/>
<output message="tns:findMatrikkelenhetsendringerTilResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findMatrikkelenhetsendringerAlleRoller">
<input message="tns:findMatrikkelenhetsendringerAlleRoller"/>
<output message="tns:findMatrikkelenhetsendringerAlleRollerResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findBorettslagsandelsendringerFra">
<input message="tns:findBorettslagsandelsendringerFra"/>
<output message="tns:findBorettslagsandelsendringerFraResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findBorettslagsandelsendringerTil">
<input message="tns:findBorettslagsandelsendringerTil"/>
<output message="tns:findBorettslagsandelsendringerTilResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findBorettslagsandelsendringerAlleRoller">
<input message="tns:findBorettslagsandelsendringerAlleRoller"/>
<output message="tns:findBorettslagsandelsendringerAlleRollerResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findSeksjonssameieendringerForUtgaatte">
<input message="tns:findSeksjonssameieendringerForUtgaatte"/>
<output message="tns:findSeksjonssameieendringerForUtgaatteResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findSeksjonssameieendringerForNye">
<input message="tns:findSeksjonssameieendringerForNye"/>
<output message="tns:findSeksjonssameieendringerForNyeResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findSeksjonssameieendringerAlleRoller">
<input message="tns:findSeksjonssameieendringerAlleRoller"/>
<output message="tns:findSeksjonssameieendringerAlleRollerResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findTidligereLeieavtalerOgRettigheter">
<input message="tns:findTidligereLeieavtalerOgRettigheter"/>
<output message="tns:findTidligereLeieavtalerOgRettigheterResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findRaaderettsbegrensningerForRegisterenhet">
<input message="tns:findRaaderettsbegrensningerForRegisterenhet"/>
<output message="tns:findRaaderettsbegrensningerForRegisterenhetResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findRettsstiftelserForDokument">
<input message="tns:findRettsstiftelserForDokument"/>
<output message="tns:findRettsstiftelserForDokumentResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findRettigheterForRegisterenhet">
<input message="tns:findRettigheterForRegisterenhet"/>
<output message="tns:findRettigheterForRegisterenhetResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findAnmerkninger">
<input message="tns:findAnmerkninger"/>
<output message="tns:findAnmerkningerResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findRettsendringer">
<input message="tns:findRettsendringer"/>
<output message="tns:findRettsendringerResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findHeftelserIAnnenRett">
<input message="tns:findHeftelserIAnnenRett"/>
<output message="tns:findHeftelserIAnnenRettResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findPengeheftelser">
<input message="tns:findPengeheftelser"/>
<output message="tns:findPengeheftelserResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findTidligerePengeheftelser">
<input message="tns:findTidligerePengeheftelser"/>
<output message="tns:findTidligerePengeheftelserResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findLeieavtalerOgRettigheter">
<input message="tns:findLeieavtalerOgRettigheter"/>
<output message="tns:findLeieavtalerOgRettigheterResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findServitutter">
<input message="tns:findServitutter"/>
<output message="tns:findServitutterResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findTidligereServitutter">
<input message="tns:findTidligereServitutter"/>
<output message="tns:findTidligereServitutterResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findRegisterenhetsendringer">
<input message="tns:findRegisterenhetsendringer"/>
<output message="tns:findRegisterenhetsendringerResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findFestekontrakter">
<input message="tns:findFestekontrakter"/>
<output message="tns:findFestekontrakterResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findTidligereFestekontrakter">
<input message="tns:findTidligereFestekontrakter"/>
<output message="tns:findTidligereFestekontrakterResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findRettigheterForPerson">
<input message="tns:findRettigheterForPerson"/>
<output message="tns:findRettigheterForPersonResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findHeftelser">
<input message="tns:findHeftelser"/>
<output message="tns:findHeftelserResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhet">
<input message="tns:findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhet"/>
<output message="tns:findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhetResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findTidligereHeftelserIRegisterenhetsrettsandeler">
<input message="tns:findTidligereHeftelserIRegisterenhetsrettsandeler"/>
<output message="tns:findTidligereHeftelserIRegisterenhetsrettsandelerResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findOverdragelserMedAktiveAndelerIRegisterenhet">
<input message="tns:findOverdragelserMedAktiveAndelerIRegisterenhet"/>
<output message="tns:findOverdragelserMedAktiveAndelerIRegisterenhetResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findTidligereOverdragelserAvRegisterenhetsrett">
<input message="tns:findTidligereOverdragelserAvRegisterenhetsrett"/>
<output message="tns:findTidligereOverdragelserAvRegisterenhetsrettResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="findOverdragelserAvRegisterenhetsrettForPerson">
<input message="tns:findOverdragelserAvRegisterenhetsrettForPerson"/>
<output message="tns:findOverdragelserAvRegisterenhetsrettForPersonResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
</portType>
<binding name="RettsstiftelseServicePortBinding" type="tns:RettsstiftelseService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findRettsstiftelsestypeKoderForRettstypeKoder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findOverdragelserAvRegisterenhetsrett">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findRettsstiftelserMedNyeAndeler">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findRettsstiftelserMedUtgaatteAndeler">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findHeftelserIRegisterenhetsretter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findTidligereHeftelserIRegisterenhetsretter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findHeftelserIRegisterenhetsrettsandeler">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findMatrikkelenhetsendringerFra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findMatrikkelenhetsendringerTil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findMatrikkelenhetsendringerAlleRoller">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findBorettslagsandelsendringerFra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findBorettslagsandelsendringerTil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findBorettslagsandelsendringerAlleRoller">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findSeksjonssameieendringerForUtgaatte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findSeksjonssameieendringerForNye">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findSeksjonssameieendringerAlleRoller">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findTidligereLeieavtalerOgRettigheter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findRaaderettsbegrensningerForRegisterenhet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findRettsstiftelserForDokument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findRettigheterForRegisterenhet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findAnmerkninger">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findRettsendringer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findHeftelserIAnnenRett">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findPengeheftelser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findTidligerePengeheftelser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findLeieavtalerOgRettigheter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findServitutter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findTidligereServitutter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findRegisterenhetsendringer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findFestekontrakter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findTidligereFestekontrakter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findRettigheterForPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findHeftelser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findOverdragelserMedAktiveAndelerForRettighetshaverRegisterenhet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findTidligereHeftelserIRegisterenhetsrettsandeler">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findOverdragelserMedAktiveAndelerIRegisterenhet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findTidligereOverdragelserAvRegisterenhetsrett">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="findOverdragelserAvRegisterenhetsrettForPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="RettsstiftelseServiceWS">
<port name="RettsstiftelseServicePort" binding="tns:RettsstiftelseServicePortBinding">
<soap:address location="https://test.grunnbok.no:443/grunnbok/wsapi/v1/RettsstiftelseServiceWS"/>
</port>
</service>
</definitions>