kartverket-wsclient/src/main/resources/StoreServiceWS.wsdl

<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. 
-->
<!--
 Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. 
-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kartverket.no/grunnbok/wsapi/v1/service/store" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://kartverket.no/grunnbok/wsapi/v1/service/store" name="StoreServiceWS">
<types>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/service/store" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/exception" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=12"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/saksbehandlingsdata" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=14"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/rettsendring" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=15"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/registerenhetsendring" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=16"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/personkoblingsendring" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=17"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/overdragelse" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=18"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/heftelse" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=19"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse/anmerkning" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=20"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/rettsstiftelse" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/registerenhet" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/person" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=4"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/koder" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=5"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/journal" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=6"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/dokument" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=7"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register/adresse" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=8"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/register" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=9"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/kodeliste" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=10"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/endringslogg" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=11"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kartverket.no/grunnbok/wsapi/v1/domain/basistyper" schemaLocation="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS?xsd=13"/>
</xsd:schema>
</types>
<message name="getObject">
<part name="parameters" element="tns:getObject"/>
</message>
<message name="getObjectResponse">
<part name="parameters" element="tns:getObjectResponse"/>
</message>
<message name="ServiceException">
<part xmlns:ns1="http://kartverket.no/grunnbok/wsapi/v1/exception" name="fault" element="ns1:ServiceException"/>
</message>
<message name="getVersions">
<part name="parameters" element="tns:getVersions"/>
</message>
<message name="getVersionsResponse">
<part name="parameters" element="tns:getVersionsResponse"/>
</message>
<message name="getObjectsIgnoreMissing">
<part name="parameters" element="tns:getObjectsIgnoreMissing"/>
</message>
<message name="getObjectsIgnoreMissingResponse">
<part name="parameters" element="tns:getObjectsIgnoreMissingResponse"/>
</message>
<message name="getVersionsForList">
<part name="parameters" element="tns:getVersionsForList"/>
</message>
<message name="getVersionsForListResponse">
<part name="parameters" element="tns:getVersionsForListResponse"/>
</message>
<message name="getObjects">
<part name="parameters" element="tns:getObjects"/>
</message>
<message name="getObjectsResponse">
<part name="parameters" element="tns:getObjectsResponse"/>
</message>
<portType name="StoreService">
<operation name="getObject">
<input message="tns:getObject"/>
<output message="tns:getObjectResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="getVersions">
<input message="tns:getVersions"/>
<output message="tns:getVersionsResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="getObjectsIgnoreMissing">
<input message="tns:getObjectsIgnoreMissing"/>
<output message="tns:getObjectsIgnoreMissingResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="getVersionsForList">
<input message="tns:getVersionsForList"/>
<output message="tns:getVersionsForListResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
<operation name="getObjects">
<input message="tns:getObjects"/>
<output message="tns:getObjectsResponse"/>
<fault message="tns:ServiceException" name="ServiceException"/>
</operation>
</portType>
<binding name="StoreServicePortBinding" type="tns:StoreService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="getVersions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="getObjectsIgnoreMissing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="getVersionsForList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
<operation name="getObjects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="StoreServiceWS">
<port name="StoreServicePort" binding="tns:StoreServicePortBinding">
<soap:address location="https://test.grunnbok.no:443/grunnbok/wsapi/v1/StoreServiceWS"/>
</port>
</service>
</definitions>